
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container marketing">

        <!-- /.row -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Przysiad ze sztangą. <span class="text-muted">Król ćwiczeń.</span></h2>
                <p class="lead">Popularne ćwiczenie wykorzystujące masę własnego ciała, angażujące mięśnie pośladkowe oraz mięśnie ud i łydek.</p>
            </div>
            <div class="col-md-5">
                <img src="~/img/squat.jpg" style="max-width:100%; max-height:100%;" />
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Martwy ciąg. <span class="text-muted">Klasyk.</span></h2>
                <p class="lead">Ćwiczenie polegające na podnoszeniu z podłoża ciężaru do momentu, w którym wykonujący ćwiczenie ma proste plecy oraz nogi w kolanach</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/img/deadlift.jpg" style="max-width:100%; max-height:100%;" />
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Wyciskanie leżąc <span class="text-muted">Ulubieniec.</span></h2>
                <p class="lead">Popularne ćwiczenie angażujące duże partie mięśniowe: mięśnie klatki piersiowej, mięśnie trójgłowe ramion (tricepsy), przednie aktony mięśni naramiennych</p>
            </div>
            <div class="col-md-5">
                <img src="~/img/bench.jpg" style="max-width:100%; max-height:100%;" />
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Wyciskanie stojąc. <span class="text-muted">Żołnierskie.</span></h2>
                <p class="lead">Wyciskanie stojąc jest jednym z najpopularniejszych ćwiczeń na mięśnie naramienne. Jest to ćwiczenie złożone.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/img/ohp.jpeg" style="max-width:100%; max-height:100%;" />
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
    </div>
</body>
</html>